<div class="row">
  <div class="col-6 col-md-4">
    <h1>hello</h1>
   <%= @post = Post.first %>
   <%= @post.status %>

    </div>
    <div class="col-6 col-md-4">placeholder</div>
    <div class="col-6 col-md-4">placeholder</div>
  </div>
