<div class="jumbotron">
  <h1>testApp</h1>

  <!-- <p><a class="btn btn-primary btn-lg" href="/profiles/new" role="button">Learn more</a></p> -->
  <%= link_to 'Create Profile', new_profile_path ,class: "btn btn-primary btn-lg"%>

  <%= link_to 'Sign Up', new_user_registration_path ,class: "btn btn-primary btn-lg"%>
  <br>
  <br>
  <%= link_to 'Sign In', new_user_session_path ,class: "btn btn-primary btn-lg"%>
  <br>
  <br>
  <!-- allows user to sign out  -->
  <%= link_to 'Sign Out', destroy_user_session_path,class: "btn btn-primary btn-lg",  method: :delete %>
</div>
