@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=GreatVibes');

body {
  background-color: #fafafa;
}

.newsfeed{
  float: left;
  margin-right: auto;
  max-width: 614px;
  width: 100%;
  padding-top: 35px;
  // margin-left: 4.5rem;
}

.followers {
  height: 100%;
  margin-bottom: 30px;
  padding: 15px;
  margin-top: 60px;
  max-width: 400px;
  right: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 1%;

  // margin-left: 4.5rem;
}

.bg-light {
  background-color: white !important;
  border-bottom: solid 1px lightgrey;
}

.navbar-light .navbar-brand {
  color: #4e5560;
}

.form-inline {
  width: 100%;
  padding-left: 30%;
}

.insta-title {
  font-family: 'Lobster';
  font-size: 2em;
  font-weight: lighter;
  color: #4e5560;
}

.nav-item {
  min-width: 60%;
  font-size: 1.3em;
}

.container {
  margin-top: 5rem;
}

.posts-home {
  // margin-left: %;
  max-width: 58%;
}

.card {
  min-width: 50%;
  height: 100%;
  margin: 5rem;
}

.profile-post {
  display: flex;
}

.profile-post-pic {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
}

.profile-post-content {
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  min-width: 80%;
  min-height: 80%;
}

.post-pic {
  width: 100%;
  height: 100%;
}

.date {
  color: #adb3bc;
}
